body{
    background-image: url("https://images.pexels.com/photos/1097930/pexels-photo-1097930.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}