<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>Edit User-Data</h1>
    </center>
    <form action="/update" method="post">
        <input type="text" name="id" value="<%=data.id%>" hidden>

       

        <input type="text" placeholder="Enter Email" name="email" value="<%=data.email%>" required
            style="margin-top: 10px;">

        <input type="text" placeholder="Enter password" name="password" value="<%=data.password%>" required style="margin-top: 10px;">
        <br>
        <button type="submit"
            style="background-color: brown;height: 30px;width: 80px;color: aliceblue;border-radius: 8px;border: transparent; margin-top: 10px;margin-left: 20%;">Update</button>


    </form>
    </form>
</body>

</html>